<html>
   <body>
      <form action = "http://127.0.0.1:5000/read" method = "GET">
         <p>Nama:</p>
         <p><input type = "text" name = "nm" /></p> 
      </br>
         <p>Daerah</p>
         <p><input type = "text" name = "daerah"></p>
         <p>Tahun Masuk</p>
         <p><input type = "text" name = "tahun masuk"></p>
         <p>Tahun Keluar</p>
         <p><input type = "text" name = "tahun keluar"></p>
         <p>No.hp</p>
         <p><input type = "text" name = "no.hp"></p>
         <p>Email</p>
         <p><input type = "text" name = "email"></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>

